fastapi
uvicorn[standard]
SQLAlchemy
psycopg2-binary
pydantic==1.10.12
fastapi
uvicorn[standard]
SQLAlchemy
psycopg2-binary
pydantic==1.10.12
paho-mqtt
python-dotenv
scikit-learn
joblib
numpy
pandas
xgboost
httpx
